DEBUG=false

DB_HOST=localhost
DB_PORT=5432
DB_USER=cookbook
DB_PASSWORD=cookbook
DB_NAME=cookbook

API_SECRET_KEY=your_secret_key_here
API_ALGORITHM="HS256"
API_ACCESS_TOKEN_EXPIRE_MINUTES=30
API_PORT=8000